<table>
	<tr>
		<th>Name</th>
		<th>Date</th>
		<th>MP</th>
		<th>FG</th>
		<th>FGA</th>
		<th>FG%</th>
		<th>3P</th>
		<th>3PA</th>
		<th>3P%</th>
		<th>FT</th>
		<th>FTA</th>
		<th>FT%</th>
		<th>ORB</th>
		<th>DRB</th>
		<th>AST</th>
		<th>STL</th>
		<th>BLK</th>
		<th>TO</th>
		<th>PF</th>
		<th>PTS</th>
	</tr>
	<% @game.each_with_index do |player, index| %>
		<tr>
			<td><%= player.name %> </td>
			<td><%= player.date %> </td>
			<td><%= player.MP %> </td>
			<td><%= player.FG %> </td>
			<td><%= player.FGA %> </td>
			<td><%= player.FGP %> </td>
			<td><%= player.ThP %> </td>
			<td><%= player.ThPA %> </td>
			<td><%= player.ThPP %> </td>
			<td><%= player.FT %> </td>
			<td><%= player.FTA %> </td>
			<td><%= player.FTP %> </td>
			<td><%= player.ORB %> </td>
			<td><%= player.DRB %> </td>
			<td><%= player.AST %> </td>
			<td><%= player.STL %> </td>
			<td><%= player.BLK %> </td>
			<td><%= player.TO %> </td>
			<td><%= player.PF %> </td>
			<td><%= player.PTS %> </td>
		</tr>
	<% end %>
</table>