<table style="margin-left: 200px; margin-right: 200px; margin-bottom: 100px; margin-top: 100px; width: 70%">
	<tr>
		<th colspan="12", style="text-align:center"><%= team.name %></th>
	</tr>
	<tr>
		<th><NOBR>Name and Height</NOBR></th>
		<th>Position</th>
		<th>FG%</th>
		<th>FGA</th>
		<th><NOBR>FGA per MP</NOBR></th>
		<th>3P%</th>
		<th>3PA</th>
		<th><NOBR>3PA per MP</NOBR></th>
		<th>TO</th>
		<th><NOBR>TO per MP</NOBR></th>
		<th>ORB</th>
		<th>PTS per Game</th>
	</tr>
	<% players.each do |player| %>
		<tr>
			<% if @var == "today" %>
			<td><NOBR><%= link_to(player.name, :controller => 'statistics', :action => 'matchup', :id => player.id, :team_id => params[:id], :day => 'today') + " " + player.height %></NOBR></td>
			<% elsif @var == "tomorrow" %>
			<td><NOBR><%= link_to(player.name, :controller => 'statistics', :action => 'matchup', :id => player.id, :team_id => params[:id], :day => 'tomorrow') + " " + player.height %></NOBR></td>
			<% else %>
			<td><NOBR><%= link_to(player.name, :controller => 'statistics', :action => 'matchup', :id => player.id, :team_id => params[:id], :day => 'yesterday') + " " + player.height %></NOBR></td>
			<% end %>
			<td><%= player.position %></td>
			<td><%= player.FGP %></td>
			<td><%= player.FGA %></td>
			<td><%= (player.FGA.to_f/player.MP.to_f).round(2) %></td>
			<td><%= player.ThPP %></td>
			<td><%= player.ThPA %></td>
			<td><%= (player.ThPA.to_f/player.MP.to_f).round(2) %></td>
			<td><%= player.TO %></td>
			<td><%= (player.TO.to_f/player.MP.to_f).round(2) %></td>
			<td><%= player.ORB %></td>
			<td><%= (player.PTS.to_f/player.G.to_f).round(2) %></td>
		</tr>
	<% end %>
</table>