<table style="display: inline-block; margin: 7em;">
	<tr>
		<th></th>
		<th colspan="7" style="text-align:center"><%= away.name %></th>
		<th colspan="6" style="text-align:center">Opponent</th>
	</tr>
	<tr>
		<th></th>
		<th>G</th>
		<th>FG</th>
		<th>FGA</th>
		<th>FGP</th>
		<th>FTA</th>
		<th>TOV</th>
		<th>PTS</th>
		<th>FG</th>
		<th>FGA</th>
		<th>FGP</th>
		<th>FTA</th>
		<th>TOV</th>
		<th>PTS</th>
	</tr>
	<tr>
		<td>Home</td>
		<td><%= away.home_G %></td>
		<td><%= away.home_FG %></td>
		<td><%= away.home_FGA %></td>
		<td><%= (away.home_FG/away.home_FGA).round(2) %></td>
		<td><%= away.home_FTA %></td>
		<td><%= away.home_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.home_PTS %></td>
		<td><%= away.home_opp_FG %></td>
		<td><%= away.home_opp_FGA %></td>
		<td><%= (away.home_opp_FG/away.home_opp_FGA).round(2) %></td>
		<td><%= away.home_opp_FTA %></td>
		<td><%= away.home_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.home_opp_PTS %></td>
	</tr>
	<tr style="border-bottom: 4px solid">
		<td>Away</td>
		<td><%= away.away_G %></td>
		<td><%= away.away_FG %></td>
		<td><%= away.away_FGA %></td>
		<td><%= (away.away_FG/away.away_FGA).round(2)%></td>
		<td><%= away.away_FTA %></td>
		<td><%= away.away_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.away_PTS %></td>
		<td><%= away.away_opp_FG %></td>
		<td><%= away.away_opp_FGA %></td>
		<td><%= (away.away_opp_FG/away.away_opp_FGA).round(2) %></td>
		<td><%= away.away_opp_FTA %></td>
		<td><%= away.away_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.away_opp_PTS %></td>
	</tr>
	<tr>
		<td>Sun</td>
		<td><%= away.sun_G %></td>
		<td><%= away.sun_FG %></td>
		<td><%= away.sun_FGA %></td>
		<% if away.sun_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (away.sun_FG/away.sun_FGA).round(2)%></td>
		<% end %>
		<td><%= away.sun_FTA %></td>
		<td><%= away.sun_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.sun_PTS %></td>
		<td><%= away.sun_opp_FG %></td>
		<td><%= away.sun_opp_FGA %></td>
		<% if away.sun_opp_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (away.sun_opp_FG/away.sun_opp_FGA).round(2)%></td>
		<% end %>
		<td><%= away.sun_opp_FTA %></td>
		<td><%= away.sun_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.sun_opp_PTS %></td>
	</tr>
	<tr>
		<td>Mon</td>
		<td><%= away.mon_G %></td>
		<td><%= away.mon_FG %></td>
		<td><%= away.mon_FGA %></td>
		<% if away.mon_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (away.mon_FG/away.mon_FGA).round(2)%></td>
		<% end %>
		<td><%= away.mon_FTA %></td>
		<td><%= away.mon_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.mon_PTS %></td>
		<td><%= away.mon_opp_FG %></td>
		<td><%= away.mon_opp_FGA %></td>
		<% if away.mon_opp_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (away.mon_opp_FG/away.mon_opp_FGA).round(2)%></td>
		<% end %>
		<td><%= away.mon_opp_FTA %></td>
		<td><%= away.mon_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.mon_opp_PTS %></td>
	</tr>
	<tr>
		<td>Tue</td>
		<td><%= away.tue_G %></td>
		<td><%= away.tue_FG %></td>
		<td><%= away.tue_FGA %></td>
		<% if away.tue_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (away.tue_FG/home.tue_FGA).round(2)%></td>
		<% end %>
		<td><%= away.tue_FTA %></td>
		<td><%= away.tue_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.tue_PTS %></td>
		<td><%= away.tue_opp_FG %></td>
		<td><%= away.tue_opp_FGA %></td>
		<% if away.tue_opp_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (away.tue_opp_FG/away.tue_opp_FGA).round(2)%></td>
		<% end %>
		<td><%= away.tue_opp_FTA %></td>
		<td><%= away.tue_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.tue_opp_PTS %></td>
	</tr>
	<tr>
		<td>Wed</td>
		<td><%= away.wed_G %></td>
		<td><%= away.wed_FG %></td>
		<td><%= away.wed_FGA %></td>
		<% if away.wed_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (away.wed_FG/away.wed_FGA).round(2)%></td>
		<% end %>
		<td><%= away.wed_FTA %></td>
		<td><%= away.wed_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.wed_PTS %></td>
		<td><%= away.wed_opp_FG %></td>
		<td><%= away.wed_opp_FGA %></td>
		<% if away.wed_opp_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (away.wed_opp_FG/away.wed_opp_FGA).round(2)%></td>
		<% end %>
		<td><%= away.wed_opp_FTA %></td>
		<td><%= away.wed_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.wed_opp_PTS %></td>
	</tr>
	<tr>
		<td>Thu</td>
		<td><%= away.thu_G %></td>
		<td><%= away.thu_FG %></td>
		<td><%= away.thu_FGA %></td>
		<% if away.thu_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (away.thu_FG/away.thu_FGA).round(2)%></td>
		<% end %>
		<td><%= away.thu_FTA %></td>
		<td><%= away.thu_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.thu_PTS %></td>
		<td><%= away.thu_opp_FG %></td>
		<td><%= away.thu_opp_FGA %></td>
		<% if away.thu_opp_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (away.thu_opp_FG/away.thu_opp_FGA).round(2)%></td>
		<% end %>
		<td><%= away.thu_opp_FTA %></td>
		<td><%= away.thu_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.thu_opp_PTS %></td>
	</tr>
	<tr>
		<td>Fri</td>
		<td><%= away.fri_G %></td>
		<td><%= away.fri_FG %></td>
		<td><%= away.fri_FGA %></td>
		<% if away.fri_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (away.fri_FG/away.fri_FGA).round(2)%></td>
		<% end %>
		<td><%= away.fri_FTA %></td>
		<td><%= away.fri_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.fri_PTS %></td>
		<td><%= away.fri_opp_FG %></td>
		<td><%= away.fri_opp_FGA %></td>
		<% if away.fri_opp_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (away.fri_opp_FG/away.fri_opp_FGA).round(2)%></td>
		<% end %>
		<td><%= away.fri_opp_FTA %></td>
		<td><%= away.fri_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.fri_opp_PTS %></td>
	</tr>
	<tr style="border-bottom: 4px solid">
		<td>Sat</td>
		<td><%= away.sat_G %></td>
		<td><%= away.sat_FG %></td>
		<td><%= away.sat_FGA %></td>
		<% if away.sat_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (away.sat_FG/away.sat_FGA).round(2)%></td>
		<% end %>
		<td><%= away.sat_FTA %></td>
		<td><%= away.sat_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.sat_PTS %></td>
		<td><%= away.sat_opp_FG %></td>
		<td><%= away.sat_opp_FGA %></td>
		<% if away.sat_opp_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (away.sat_opp_FG/away.sat_opp_FGA).round(2)%></td>
		<% end %>
		<td><%= away.sat_opp_FTA %></td>
		<td><%= away.sat_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.sat_opp_PTS %></td>
	</tr>
	<tr>
		<td>0 Days</td>
		<td><%= away.zero_G %></td>
		<td><%= away.zero_FG %></td>
		<td><%= away.zero_FGA %></td>
		<td><%= (away.zero_FG/away.zero_FGA).round(2)%></td>
		<td><%= away.zero_FTA %></td>
		<td><%= away.zero_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.zero_PTS %></td>
		<td><%= away.zero_opp_FG %></td>
		<td><%= away.zero_opp_FGA %></td>
		<td><%= (away.zero_opp_FG/away.zero_opp_FGA).round(2) %></td>
		<td><%= away.zero_opp_FTA %></td>
		<td><%= away.zero_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.zero_opp_PTS %></td>
	</tr>
	<tr>
		<td>1 Day</td>
		<td><%= away.one_G %></td>
		<td><%= away.one_FG %></td>
		<td><%= away.one_FGA %></td>
		<td><%= (away.one_FG/away.one_FGA).round(2) %></td>
		<td><%= away.one_FTA %></td>
		<td><%= away.one_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.one_PTS %></td>
		<td><%= away.one_opp_FG %></td>
		<td><%= away.one_opp_FGA %></td>
		<td><%= (away.one_opp_FG/away.one_opp_FGA).round(2) %></td>
		<td><%= away.one_opp_FTA %></td>
		<td><%= away.one_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.one_opp_PTS %></td>
	</tr>
	<tr>
		<td>2 Days</td>
		<td><%= away.two_G %></td>
		<td><%= away.two_FG %></td>
		<td><%= away.two_FGA %></td>
		<td><%= (away.two_FG/away.two_FGA).round(2)%></td>
		<td><%= away.two_FTA %></td>
		<td><%= away.two_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.two_PTS %></td>
		<td><%= away.two_opp_FG %></td>
		<td><%= away.two_opp_FGA %></td>
		<td><%= (away.two_opp_FG/away.two_opp_FGA).round(2) %></td>
		<td><%= away.two_opp_FTA %></td>
		<td><%= away.two_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.two_opp_PTS %></td>
	</tr>
	<tr>
		<td>3+ Days</td>
		<td><%= away.three_G %></td>
		<td><%= away.three_FG %></td>
		<td><%= away.three_FGA %></td>
		<% if away.three_FGA != 0%>
		<td><%= (away.three_FG/away.three_FGA).round(2)%></td>
		<% else %>
		<td>0.0</td>
		<% end %>
		<td><%= away.three_FTA %></td>
		<td><%= away.three_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.three_PTS %></td>
		<td><%= away.three_opp_FG %></td>
		<td><%= away.three_opp_FGA %></td>
		<% if away.three_opp_FGA != 0%>
		<td><%= (away.three_opp_FG/away.three_opp_FGA).round(2) %></td>
		<% else %>
		<td>0.0</td>
		<% end %>
		<td><%= away.three_opp_FTA %></td>
		<td><%= away.three_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.three_opp_PTS %></td>
	</tr>
	<% if params[:action] == "today" %>
	<tr>
		<td><%= away.today_team.name %></td>
		<td><%= away.today_G %></td>
		<td><%= away.today_FG %></td>
		<td><%= away.today_FGA %></td>
		<% if away.today_FGA != 0 %>
			<td><%= (away.today_FG/away.today_FGA).round(2)%></td>
		<% else %>
			<td>0.0</td>
		<% end %>
		<td><%= away.today_FTA %></td>
		<td><%= away.today_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.today_PTS %></td>
		<td><%= away.today_opp_FG %></td>
		<td><%= away.today_opp_FGA %></td>
		<% if away.today_opp_FGA != 0 %>
			<td><%= (away.today_opp_FG/away.today_opp_FGA).round(2) %></td>
		<% else %>
			<td>0.0</td>
		<% end %>
		<td><%= away.today_opp_FTA %></td>
		<td><%= away.today_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.today_opp_PTS %></td>
	</tr>
	<% end %>
	<% if params[:action] == "tomorrow" %>
	<tr>
		<td><%= away.tomorrow_team.name %></td>
		<td><%= away.tomorrow_G %></td>
		<td><%= away.tomorrow_FG %></td>
		<td><%= away.tomorrow_FGA %></td>
		<% if away.tomorrow_FGA != 0 %>
			<td><%= (away.tomorrow_FG/away.tomorrow_FGA).round(2)%></td>
		<% else %>
			<td>0.0</td>
		<% end %>
		<td><%= away.tomorrow_FTA %></td>
		<td><%= away.tomorrow_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.tomorrow_PTS %></td>
		<td><%= away.tomorrow_opp_FG %></td>
		<td><%= away.tomorrow_opp_FGA %></td>
		<% if away.tomorrow_opp_FGA != 0 %>
			<td><%= (away.tomorrow_opp_FG/away.tomorrow_opp_FGA).round(2) %></td>
		<% else %>
			<td>0.0</td>
		<% end %>
		<td><%= away.tomorrow_opp_FTA %></td>
		<td><%= away.tomorrow_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= away.tomorrow_opp_PTS %></td>
	</tr>
	<% end %>
</table>


<table style="display: inline-block; margin: 7em;">
	<tr>
		<th></th>
		<th colspan="7" style="text-align:center"><%= home.name %></th>
		<th colspan="6" style="text-align:center">Opponent</th>
	</tr>
	<tr>
		<th></th>
		<th>G</th>
		<th>FG</th>
		<th>FGA</th>
		<th>FGP</th>
		<th>FTA</th>
		<th>TOV</th>
		<th>PTS</th>
		<th>FG</th>
		<th>FGA</th>
		<th>FGP</th>
		<th>FTA</th>
		<th>TOV</th>
		<th>PTS</th>
	</tr>
	<tr>
		<td>Home</td>
		<td><%= home.home_G %></td>
		<td><%= home.home_FG %></td>
		<td><%= home.home_FGA %></td>
		<td><%= (home.home_FG/home.home_FGA).round(2) %></td>
		<td><%= home.home_FTA %></td>
		<td><%= home.home_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.home_PTS %></td>
		<td><%= home.home_opp_FG %></td>
		<td><%= home.home_opp_FGA %></td>
		<td><%= (home.home_opp_FG/home.home_opp_FGA).round(2) %></td>
		<td><%= home.home_opp_FTA %></td>
		<td><%= home.home_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.home_opp_PTS %></td>
	</tr>
	<tr style="border-bottom: 4px solid">
		<td>Away</td>
		<td><%= home.away_G %></td>
		<td><%= home.away_FG %></td>
		<td><%= home.away_FGA %></td>
		<td><%= (home.away_FG/home.away_FGA).round(2)%></td>
		<td><%= home.away_FTA %></td>
		<td><%= home.away_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.away_PTS %></td>
		<td><%= home.away_opp_FG %></td>
		<td><%= home.away_opp_FGA %></td>
		<td><%= (home.away_opp_FG/home.away_opp_FGA).round(2) %></td>
		<td><%= home.away_opp_FTA %></td>
		<td><%= home.away_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.away_opp_PTS %></td>
	</tr>
	<tr>
		<td>Sun</td>
		<td><%= home.sun_G %></td>
		<td><%= home.sun_FG %></td>
		<td><%= home.sun_FGA %></td>
		<% if home.sun_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (home.sun_FG/home.sun_FGA).round(2)%></td>
		<% end %>
		<td><%= home.sun_FTA %></td>
		<td><%= home.sun_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.sun_PTS %></td>
		<td><%= home.sun_opp_FG %></td>
		<td><%= home.sun_opp_FGA %></td>
		<% if home.sun_opp_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (home.sun_opp_FG/home.sun_opp_FGA).round(2)%></td>
		<% end %>
		<td><%= home.sun_opp_FTA %></td>
		<td><%= home.sun_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.sun_opp_PTS %></td>
	</tr>
	<tr>
		<td>Mon</td>
		<td><%= home.mon_G %></td>
		<td><%= home.mon_FG %></td>
		<td><%= home.mon_FGA %></td>
		<% if home.mon_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (home.mon_FG/home.mon_FGA).round(2)%></td>
		<% end %>
		<td><%= home.mon_FTA %></td>
		<td><%= home.mon_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.mon_PTS %></td>
		<td><%= home.mon_opp_FG %></td>
		<td><%= home.mon_opp_FGA %></td>
		<% if home.mon_opp_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (home.mon_opp_FG/home.mon_opp_FGA).round(2)%></td>
		<% end %>
		<td><%= home.mon_opp_FTA %></td>
		<td><%= home.mon_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.mon_opp_PTS %></td>
	</tr>
	<tr>
		<td>Tue</td>
		<td><%= home.tue_G %></td>
		<td><%= home.tue_FG %></td>
		<td><%= home.tue_FGA %></td>
		<% if home.tue_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (home.tue_FG/home.tue_FGA).round(2)%></td>
		<% end %>
		<td><%= home.tue_FTA %></td>
		<td><%= home.tue_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.tue_PTS %></td>
		<td><%= home.tue_opp_FG %></td>
		<td><%= home.tue_opp_FGA %></td>
		<% if home.tue_opp_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (home.tue_opp_FG/home.tue_opp_FGA).round(2)%></td>
		<% end %>
		<td><%= home.tue_opp_FTA %></td>
		<td><%= home.tue_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.tue_opp_PTS %></td>
	</tr>
	<tr>
		<td>Wed</td>
		<td><%= home.wed_G %></td>
		<td><%= home.wed_FG %></td>
		<td><%= home.wed_FGA %></td>
		<% if home.wed_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (home.wed_FG/home.wed_FGA).round(2)%></td>
		<% end %>
		<td><%= home.wed_FTA %></td>
		<td><%= home.wed_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.wed_PTS %></td>
		<td><%= home.wed_opp_FG %></td>
		<td><%= home.wed_opp_FGA %></td>
		<% if home.wed_opp_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (home.wed_opp_FG/home.wed_opp_FGA).round(2)%></td>
		<% end %>
		<td><%= home.wed_opp_FTA %></td>
		<td><%= home.wed_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.wed_opp_PTS %></td>
	</tr>
	<tr>
		<td>Thu</td>
		<td><%= home.thu_G %></td>
		<td><%= home.thu_FG %></td>
		<td><%= home.thu_FGA %></td>
		<% if home.thu_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (home.thu_FG/home.thu_FGA).round(2)%></td>
		<% end %>
		<td><%= home.thu_FTA %></td>
		<td><%= home.thu_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.thu_PTS %></td>
		<td><%= home.thu_opp_FG %></td>
		<td><%= home.thu_opp_FGA %></td>
		<% if home.thu_opp_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (home.thu_opp_FG/home.thu_opp_FGA).round(2)%></td>
		<% end %>
		<td><%= home.thu_opp_FTA %></td>
		<td><%= home.thu_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.thu_opp_PTS %></td>
	</tr>
	<tr>
		<td>Fri</td>
		<td><%= home.fri_G %></td>
		<td><%= home.fri_FG %></td>
		<td><%= home.fri_FGA %></td>
		<% if home.fri_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (home.fri_FG/home.fri_FGA).round(2)%></td>
		<% end %>
		<td><%= home.fri_FTA %></td>
		<td><%= home.fri_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.fri_PTS %></td>
		<td><%= home.fri_opp_FG %></td>
		<td><%= home.fri_opp_FGA %></td>
		<% if home.fri_opp_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (home.fri_opp_FG/home.fri_opp_FGA).round(2)%></td>
		<% end %>
		<td><%= home.fri_opp_FTA %></td>
		<td><%= home.fri_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.fri_opp_PTS %></td>
	</tr>
	<tr style="border-bottom: 4px solid">
		<td>Sat</td>
		<td><%= home.sat_G %></td>
		<td><%= home.sat_FG %></td>
		<td><%= home.sat_FGA %></td>
		<% if home.sat_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (home.sat_FG/home.sat_FGA).round(2)%></td>
		<% end %>
		<td><%= home.sat_FTA %></td>
		<td><%= home.sat_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.sat_PTS %></td>
		<td><%= home.sat_opp_FG %></td>
		<td><%= home.sat_opp_FGA %></td>
		<% if home.sat_opp_FGA == 0 %>
			<td>0.0</td>
		<% else %>
			<td><%= (home.sat_opp_FG/home.sat_opp_FGA).round(2)%></td>
		<% end %>
		<td><%= home.sat_opp_FTA %></td>
		<td><%= home.sat_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.sat_opp_PTS %></td>
	</tr>
	<tr>
		<td>0 Days</td>
		<td><%= home.zero_G %></td>
		<td><%= home.zero_FG %></td>
		<td><%= home.zero_FGA %></td>
		<td><%= (home.zero_FG/home.zero_FGA).round(2)%></td>
		<td><%= home.zero_FTA %></td>
		<td><%= home.zero_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.zero_PTS %></td>
		<td><%= home.zero_opp_FG %></td>
		<td><%= home.zero_opp_FGA %></td>
		<td><%= (home.zero_opp_FG/home.zero_opp_FGA).round(2) %></td>
		<td><%= home.zero_opp_FTA %></td>
		<td><%= home.zero_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.zero_opp_PTS %></td>
	</tr>
	<tr>
		<td>1 Day</td>
		<td><%= home.one_G %></td>
		<td><%= home.one_FG %></td>
		<td><%= home.one_FGA %></td>
		<td><%= (home.one_FG/home.one_FGA).round(2) %></td>
		<td><%= home.one_FTA %></td>
		<td><%= home.one_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.one_PTS %></td>
		<td><%= home.one_opp_FG %></td>
		<td><%= home.one_opp_FGA %></td>
		<td><%= (home.one_opp_FG/home.one_opp_FGA).round(2) %></td>
		<td><%= home.one_opp_FTA %></td>
		<td><%= home.one_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.one_opp_PTS %></td>
	</tr>
	<tr>
		<td>2 Days</td>
		<td><%= home.two_G %></td>
		<td><%= home.two_FG %></td>
		<td><%= home.two_FGA %></td>
		<td><%= (home.two_FG/home.two_FGA).round(2)%></td>
		<td><%= home.two_FTA %></td>
		<td><%= home.two_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.two_PTS %></td>
		<td><%= home.two_opp_FG %></td>
		<td><%= home.two_opp_FGA %></td>
		<td><%= (home.two_opp_FG/home.two_opp_FGA).round(2) %></td>
		<td><%= home.two_opp_FTA %></td>
		<td><%= home.two_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.two_opp_PTS %></td>
	</tr>
	<tr>
		<td>3+ Days</td>
		<td><%= home.three_G %></td>
		<td><%= home.three_FG %></td>
		<td><%= home.three_FGA %></td>
		<% if home.three_FGA != 0%>
		<td><%= (home.three_FG/home.three_FGA).round(2)%></td>
		<% else %>
		<td>0.0</td>
		<% end %> 
		<td><%= home.three_FTA %></td>
		<td><%= home.three_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.three_PTS %></td>
		<td><%= home.three_opp_FG %></td>
		<td><%= home.three_opp_FGA %></td>
		<% if home.three_opp_FGA != 0 %>
		<td><%= (home.three_opp_FG/home.three_opp_FGA).round(2) %></td>
		<% else %>
		<td>0.0</td>
		<% end %>
		<td><%= home.three_opp_FTA %></td>
		<td><%= home.three_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.three_opp_PTS %></td>
	</tr>
	<% if params[:action] == "today" %>
	<tr>
		<td><%= home.today_team.name %></td>
		<td><%= home.today_G %></td>
		<td><%= home.today_FG %></td>
		<td><%= home.today_FGA %></td>
		<% if home.today_FGA != 0 %>
			<td><%= (home.today_FG/home.today_FGA).round(2)%></td>
		<% else %>
			<td>0.0</td>
		<% end %>
		<td><%= home.today_FTA %></td>
		<td><%= home.today_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.today_PTS %></td>
		<td><%= home.today_opp_FG %></td>
		<td><%= home.today_opp_FGA %></td>
		<% if home.today_opp_FGA != 0 %>
			<td><%= (home.today_opp_FG/home.today_opp_FGA).round(2) %></td>
		<% else %>
			<td>0.0</td>
		<% end %>
		<td><%= home.today_opp_FTA %></td>
		<td><%= home.today_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.today_opp_PTS %></td>
	</tr>
	<% end %>
	<% if params[:action] == "tomorrow" %>
	<tr>
		<td><%= home.tomorrow_team.name %></td>
		<td><%= home.tomorrow_G %></td>
		<td><%= home.tomorrow_FG %></td>
		<td><%= home.tomorrow_FGA %></td>
		<% if home.tomorrow_FGA != 0 %>
			<td><%= (home.tomorrow_FG/home.tomorrow_FGA).round(2)%></td>
		<% else %>
			<td>0.0</td>
		<% end %>
		<td><%= home.tomorrow_FTA %></td>
		<td><%= home.tomorrow_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.tomorrow_PTS %></td>
		<td><%= home.tomorrow_opp_FG %></td>
		<td><%= home.tomorrow_opp_FGA %></td>
		<% if home.tomorrow_opp_FGA != 0 %>
			<td><%= (home.tomorrow_opp_FG/home.tomorrow_opp_FGA).round(2) %></td>
		<% else %>
			<td>0.0</td>
		<% end %>
		<td><%= home.tomorrow_opp_FTA %></td>
		<td><%= home.tomorrow_opp_TOV %></td>
		<td bgcolor="#00FFFF"><%= home.tomorrow_opp_PTS %></td>
	</tr>
	<% end %>
</table>