<table>
	<tr>
		<th>Name and Height</th>
		<th>ORtg</th>
		<th>DRtg</th>
		<th>Total MP</th>
		<th>ORtg 2014</th>
		<th>DRtg 2014</th>
		<th>Total MP 2014</th>
		<th>FG%</th>
		<th>FGA</th>
		<th>FGA per MP</th>
		<th>3P%</th>
		<th>3PA</th>
		<th>3PA per MP</th>
		<th>TO</th>
		<th>TO per MP</th>
		<th>ORB</th>
		<th>AST</th>
		<th>BLK</th>
		<th>PTS</th>
		<th><NOBR>Date 1</NOBR></th>
		<th><NOBR>Team 1</NOBR></th>
		<th>MP 1</th>
		<th><NOBR>Date 2</NOBR></th>
		<th><NOBR>Team 2</NOBR></th>
		<th>MP 2</th>
		<th><NOBR>Date 3</NOBR></th>
		<th><NOBR>Team 3</NOBR></th>
		<th>MP 3</th>
		<th><NOBR>Date 4</NOBR></th>
		<th><NOBR>Team 4</NOBR></th>
		<th>MP 4</th>
		<th><NOBR>Date 5</NOBR></th>
		<th><NOBR>Team 5</NOBR></th>
		<th>MP 5</th>
	</tr>
	<% players.each do |player| %>
		<tr>
			<% if @var == "today" %>
			<td><%= link_to(player.name, :controller => 'statistics', :action => 'matchup', :id => player.id, :team_id => params[:id], :day => 'today') + " " + player.height %></td>
			<% else %>
			<td><%= link_to(player.name, :controller => 'statistics', :action => 'matchup', :id => player.id, :team_id => params[:id], :day => 'tomorrow') + " " + player.height %></td>
			<% end %>
			<td><%= player.ORtg %></td>
			<td><%= player.DRtg %></td>
			<td><%= player.MP %></td>
			<td><%= player.ORtg_2014 %></td>
			<td><%= player.DRtg_2014 %></td>
			<td><%= player.MP_2014 %></td>
			<td><%= player.FGP %></td>
			<td><%= player.FGA %></td>
			<td><%= (player.FGA.to_f/player.MP.to_f).round(2) %></td>
			<td><%= player.ThPP %></td>
			<td><%= player.ThPA %></td>
			<td><%= (player.ThPA.to_f/player.MP.to_f).round(2) %></td>
			<td><%= player.TO %></td>
			<td><%= (player.TO.to_f/player.MP.to_f).round(2) %></td>
			<td><%= player.ORB %></td>
			<td><%= player.AST %></td>
			<td><%= player.BLK %></td>
			<td><%= player.PTS %></td>
			<td><NOBR><%= player.date_1 %></NOBR></td>
			<td><%= player.team_1 %></td>
			<td><%= player.MP_1 %></td>
			<td><NOBR><%= player.date_2 %></NOBR></td>
			<td><%= player.team_2 %></td>
			<td><%= player.MP_2 %></td>
			<td><NOBR><%= player.date_3 %></NOBR></td>
			<td><%= player.team_3 %></td>
			<td><%= player.MP_3 %></td>
			<td><NOBR><%= player.date_4 %></NOBR></td>
			<td><%= player.team_4 %></td>
			<td><%= player.MP_4 %></td>
			<td><NOBR><%= player.date_5 %></NOBR></td>
			<td><%= player.team_5 %></td>
			<td><%= player.MP_5 %></td>
		</tr>
	<% end %>
</table>