<table>
	<tr>
		<th>Name and Height</th>
		<th><NOBR>Total MP</NOBR></th>
		<th>ORtg</th>
		<th>DRtg</th>
		<th>On Court Pace</th>
		<th>On Court Opp Pace</th>
		<th>On Court ORtg</th>
		<th>On Court Opp ORtg</th>
		<th><NOBR>Total MP 2014</NOBR></th>
		<th><NOBR>ORtg 2014</NOBR></th>
		<th><NOBR>DRtg 2014</NOBR></th>
		<th>FG%</th>
		<th>FGA</th>
		<th><NOBR>FGA per MP</NOBR></th>
		<th>3P%</th>
		<th>3PA</th>
		<th><NOBR>3PA per MP</NOBR></th>
		<th>TO</th>
		<th><NOBR>TO per MP</NOBR></th>
		<th>ORB</th>
		<th>PTS</th>
	</tr>
	<% players.each do |player| %>
		<tr>
			<% if @var == "today" %>
			<td><NOBR><%= link_to(player.name, :controller => 'statistics', :action => 'matchup', :id => player.id, :team_id => params[:id], :day => 'today') + " " + player.height %></NOBR></td>
			<% else %>
			<td><NOBR><%= link_to(player.name, :controller => 'statistics', :action => 'matchup', :id => player.id, :team_id => params[:id], :day => 'tomorrow') + " " + player.height %></NOBR></td>
			<% end %>
			<td><%= player.MP %></td>
			<td bgcolor="#00FFFF"><%= player.ORtg %></td>
			<td bgcolor="#00FFFF"><%= player.DRtg %></td>
			<td><%= player.on_court_pace %></td>
			<td><%= player.opp_on_court_pace %></td>
			<td bgcolor="#00FFFF"><%= player.on_court_ORtg %></td>
			<td bgcolor="#00FFFF"><%= player.opp_on_court_ORtg %></td>
			<td><%= player.MP_2014 %></td>
			<td bgcolor="#00FFFF"><%= player.ORtg_2014 %></td>
			<td bgcolor="#00FFFF"><%= player.DRtg_2014 %></td>
			<td><%= player.FGP %></td>
			<td><%= player.FGA %></td>
			<td><%= (player.FGA.to_f/player.MP.to_f).round(2) %></td>
			<td><%= player.ThPP %></td>
			<td><%= player.ThPA %></td>
			<td><%= (player.ThPA.to_f/player.MP.to_f).round(2) %></td>
			<td><%= player.TO %></td>
			<td><%= (player.TO.to_f/player.MP.to_f).round(2) %></td>
			<td><%= player.ORB %></td>
			<td><%= player.PTS %></td>
		</tr>
	<% end %>
</table>