<table>
	<tr>
		<th>Name and Height</th>
		<th><NOBR>Total MP</NOBR></th>
		<th>ORtg</th>
		<th>DRtg</th>
		<th>On Court Pace</th>
		<th>On Court Opp Pace</th>
		<th>On Court ORtg</th>
		<th>On Court Opp ORtg</th>
		<th>Total MP 2014</th>
		<th>ORtg 2014</th>
		<th>DRtg 2014</th>
		<th><NOBR>Date 1</NOBR></th>
		<th><NOBR>Team 1</NOBR></th>
		<th><NOBR>MP 1</NOBR></th>
		<th><NOBR>Date 2</NOBR></th>
		<th><NOBR>Team 2</NOBR></th>
		<th><NOBR>MP 2</NOBR></th>
		<th><NOBR>Date 3</NOBR></th>
		<th><NOBR>Team 3</NOBR></th>
		<th><NOBR>MP 3</NOBR></th>
		<th><NOBR>Date 4</NOBR></th>
		<th><NOBR>Team 4</NOBR></th>
		<th><NOBR>MP 4</NOBR></th>
		<th><NOBR>Date 5</NOBR></th>
		<th><NOBR>Team 5</NOBR></th>
		<th><NOBR>MP 5</NOBR></th>
		<th>Position</th>
	</tr>
	<% players.each do |player| %>
		<tr>
			<td><NOBR><%= player.name + " " + player.height %></NOBR></td>
			<td><%= player.MP %></td>
			<td bgcolor="#00FFFF"><%= player.ORtg %></td>
			<td bgcolor="#00FFFF"><%= player.DRtg %></td>
			<td><%= player.on_court_pace %></td>
			<td><%= player.opp_on_court_pace %></td>
			<td bgcolor="#00FFFF"><%= player.on_court_ORtg %></td>
			<td bgcolor="#00FFFF"><%= player.opp_on_court_ORtg %></td>
			<td><%= player.MP_2014 %></td>
			<td bgcolor="#00FFFF"><%= player.ORtg_2014 %></td>
			<td bgcolor="#00FFFF"><%= player.DRtg_2014 %></td>
			<td><NOBR><%= player.date_1 %></NOBR></td>
			<td><%= player.team_1 %></td>
			<td bgcolor="#00FFFF"><%= player.MP_1 %></td>
			<td><NOBR><%= player.date_2 %></NOBR></td>
			<td><%= player.team_2 %></td>
			<td bgcolor="#00FFFF"><%= player.MP_2 %></td>
			<td><NOBR><%= player.date_3 %></NOBR></td>
			<td><%= player.team_3 %></td>
			<td bgcolor="#00FFFF"><%= player.MP_3 %></td>
			<td><NOBR><%= player.date_4 %></NOBR></td>
			<td><%= player.team_4 %></td>
			<td bgcolor="#00FFFF"><%= player.MP_4 %></td>
			<td><NOBR><%= player.date_5 %></NOBR></td>
			<td><%= player.team_5 %></td>
			<td bgcolor="#00FFFF"><%= player.MP_5 %></td>
			<td><%= player.position %></td>
		</tr>
	<% end %>
</table>