<tr>
	<td><%= team.name %></td>
	<td><%= team.sun_PTS.round(2) %></td>
	<td><%= team.mon_PTS.round(2) %></td>
	<td><%= team.tue_PTS.round(2) %></td>
	<td><%= team.wed_PTS.round(2) %></td>
	<td><%= team.thu_PTS.round(2) %></td>
	<td><%= team.fri_PTS.round(2) %></td>
	<td><%= team.sat_PTS.round(2) %></td>
	<td><%= team.zero_PTS.round(2) %></td>
	<td><%= team.one_PTS.round(2) %></td>
	<td><%= team.two_PTS.round(2) %></td>
	<td><%= team.three_PTS.round(2) %></td>
</tr>
