<table style="margin-left: 200px; margin-right: 200px; margin-bottom: 50px; margin-top: 50px; width: 70%">
	<tr>
		<th>Name</th>
		<th>Sunday</th>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>
		<th>Zero</th>
		<th>One</th>
		<th>Two</th>
		<th>Three</th>
	</tr>
	<tr>
		<td><%= team.name %></td>
		<td><%= team.sun_PTS %></td>
		<td><%= team.mon_PTS %></td>
		<td><%= team.tue_PTS %></td>
		<td><%= team.wed_PTS %></td>
		<td><%= team.thu_PTS %></td>
		<td><%= team.fri_PTS %></td>
		<td><%= team.sat_PTS %></td>
		<td><%= team.zero_PTS %></td>
		<td><%= team.one_PTS %></td>
		<td><%= team.two_PTS %></td>
		<td><%= team.three_PTS %></td>
	</tr>
</table>