<% @page_title = "#{@player.name}" %>
<div align="center">
<% if params[:day] == "today" %>
<%= link_to("#{@team.name} vs #{@opp_team.name}", :controller => 'statistics', :action => 'today', :id => params[:team_id]) %>
<% elsif params[:day] == "tomorrow" %>
<%= link_to("#{@team.name} vs #{@opp_team.name}", :controller => 'statistics', :action => 'tomorrow', :id => params[:team_id]) %>
<% elsif params[:day] == "yesterday" %>
<%= link_to("#{@team.name} vs #{@opp_team.name}", :controller => 'statistics', :action => 'yesterday', :id => params[:team_id]) %>
<% end %>
</div>
<h3 align="center"> <%= @player.name + " Matchups"%> </h3>
<%= render(:partial => 'matchup_table', :locals => {:game => @game}) %>