<% @page_title = "#{@player.name}" %>
<div align="center">
<% if params[:day] == "today" %>
<%= link_to("#{@team.name} vs #{@opp_team.name}", :controller => 'statistics', :action => 'today', :id => params[:team_id]) %>
<% elsif params[:day] == "tomorrow" %>
<%= link_to("#{@team.name} vs #{@opp_team.name}", :controller => 'statistics', :action => 'tomorrow', :id => params[:team_id]) %>
<% end %>
</div>
<% if @player.position != 'C' && @player.position != 'PF' %>
<h3 align="center"> <%= @player.name + " " +  @player.position + " Matchups"%> </h3>
<% else %>
<h3 align="center"> <%= @player.name + " PF and C Matchups"%> </h3>
<% end %>
<%= render(:partial => 'matchup_table', :locals => {:game => @game}) %>