<% @page_title = "Team Stats"%>
<div align="center">
<%= link_to("Home", :controller => 'access', :action => 'index') %> </br>
</div>
<h3 align="center">Teams</h3>
<table style="margin-left: 200px; margin-right: 200px; margin-bottom: 50px; margin-top: 50px; width: 70%">
	<tr>
		<th>Name</th>
		<th>Sunday</th>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>
		<th>Zero</th>
		<th>One</th>
		<th>Two</th>
		<th>Three</th>
	</tr>
	<% @teams.each do |team|%>
		<%= render(:partial => 'teamtable', :locals => {:team => team}) %>
	<% end %>
	<tr>
		<th>Total</th>
		<th><%= @sunday.round(2) %></th>
		<th><%= @monday.round(2) %></th>
		<th><%= @tuesday.round(2) %></th>
		<th><%= @wednesday.round(2) %></th>
		<th><%= @thursday.round(2) %></th>
		<th><%= @friday.round(2) %></th>
		<th><%= @saturday.round(2) %></th>
		<th><%= @zero.round(2) %></th>
		<th><%= @one.round(2) %></th>
		<th><%= @two.round(2) %></th>
		<th><%= @three.round(2) %></th>
	</tr>
</table>