<% @page_title = "Team Stats"%>
<div align="center">
<%= link_to("Home", :controller => 'access', :action => 'index') %> </br>
</div>
<h3 align="center">Teams</h3>
<table style="margin-left: 200px; margin-right: 200px; margin-bottom: 50px; margin-top: 50px; width: 70%">
	<tr>
		<th>Name</th>
		<th>Sunday</th>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>
		<th>Zero</th>
		<th>One</th>
		<th>Two</th>
		<th>Three</th>
	</tr>
	<% @teams.each do |team|%>
		<%= render(:partial => 'teamtable', :locals => {:team => team}) %>
	<% end %>
	<tr>
		<th>Total</th>
		<th><%= @sunday %></th>
		<th><%= @monday %></th>
		<th><%= @tuesday %></th>
		<th><%= @wednesday %></th>
		<th><%= @thursday %></th>
		<th><%= @friday %></th>
		<th><%= @saturday %></th>
		<th><%= @zero %></th>
		<th><%= @one %></th>
		<th><%= @two %></th>
		<th><%= @three %></th>
	</tr>
</table>