<% @page_title = "#{@home_team.name} vs #{@away_team.name}" %>
<% @var = "today" %>
<% date = Time.now.strftime("%B %d") %> 
<div align="center">
<%= link_to(date, :controller => 'index', :action => 'today') %>
</div>
<h3 align="center"><%= @away_team.name + " vs " + @home_team.name %></h3>
<h3 align="center">Team Stats</h3>
<%= render(:partial => 'team', :locals =>  {:team => @away_team})%>
<%= render(:partial => 'team', :locals =>  {:team => @home_team})%>
<h3 align="center">Splits</h3>
<%= render(:partial => 'splits', :locals => {:home => @home_team, :away => @away_team}) %>
<h3 align="center">Minutes and Ratings</h3>
<%= render(:partial => 'table', :locals => {:players => @away_players, :team => @away_team}) %>
<%= render(:partial => 'table', :locals => {:players => @home_players, :team => @home_team}) %>
<h3 align="center">Player Stats</h3>
<%= render(:partial => 'minutes', :locals => {:players => @away_players, :team => @away_team}) %>
<%= render(:partial => 'minutes', :locals => {:players => @home_players, :team => @home_team}) %>