<% @page_title = "#{@home_team.name} vs #{@away_team.name}" %>
<% date = Time.now.tomorrow.strftime("%B %d") %> 
<%= link_to(date, :controller => 'index', :action => 'tomorrow') %>
<h3><%= @home_team.name + " vs " + @away_team.name %></h3>
<h4><%= @home_team.name %></h4>
<%= render(:partial => 'table', :locals => {:players => @home_players}) %>
<h4><%= @away_team.name %></h4>
<%= render(:partial => 'table', :locals => {:players => @away_players}) %>
<h3>Team Statistics</h3>
<h4><%= @home_team.name %></h4>
<%= render(:partial => 'team', :locals =>  {:team => @home_team})%>
<h4><%= @away_team.name %></h4>
<%= render(:partial => 'team', :locals =>  {:team => @away_team})%>
