<% @page_title = "#{@home_team.name} vs #{@away_team.name}" %>
<% @var = "yesterday" %>
<% date = Time.now.yesterday.strftime("%B %d") %> 
<%= link_to(date, :controller => 'index', :action => 'yesterday') %>
<h3><%= @away_team.name + " vs " + @home_team.name %></h3>
<h4><%= @home_team.name %></h4>
<%= render(:partial => 'team', :locals =>  {:team => @home_team})%>
<h4><%= @away_team.name %></h4>
<%= render(:partial => 'team', :locals =>  {:team => @away_team})%>
<h4><%= @home_team.name + " Past Games"%></h4>
<%= render(:partial => 'table', :locals => {:players => @home_players}) %>
<h4><%= @home_team.name + " Player Stats"%></h4>
<%= render(:partial => 'minutes', :locals => {:players => @home_players}) %>
<h4><%= @away_team.name + " Past Games"%></h4>
<%= render(:partial => 'table', :locals => {:players => @away_players}) %>
<h4><%= @away_team.name + " Player Stats" %></h4>
<%= render(:partial => 'minutes', :locals => {:players => @away_players}) %>