<tr>
	<td><%= team.name %></td>
	<td><%= lineup.mp %></td>
	<td><%= lineup.fgm.to_i %></td>
	<td><%= lineup.fga.to_i %></td>
	<td><%= lineup.thpm.to_i %></td>
	<td><%= lineup.thpa.to_i %></td>
	<td><%= lineup.ftm.to_i %></td>
	<td><%= lineup.fta.to_i %></td>
	<td><%= lineup.orb.to_i %></td>
	<td><%= lineup.drb.to_i %></td>
	<td><%= lineup.ast.to_i %></td>
	<td><%= lineup.stl.to_i %></td>
	<td><%= lineup.blk.to_i %></td>
	<td><%= lineup.tov.to_i %></td>
	<td><%= lineup.pf.to_i %></td>
	<td><%= lineup.pts.to_i %></td>
</tr>